.header {
    background-color: rgba(20, 20, 20, 0.95);
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    max-height: 40px;
}

.logo {
    margin-left: 10px;
    font-size: 20px;
    color: white;
    align-self: center;
    font-family: 'Courier New', Courier, monospace
}