.item-card {
    display: flex;
    flex-direction: column;
    border: 1px white solid;
    flex: 2 0 width;
    height: 250px;
    width: 350px;
    align-content: space-between;
    justify-content: center;
    align-items: center;
    margin: 20px;
    background-color: transparent;
    transition: 0.1s all;
    padding: 0;
    position: relative;
}

.item-card:hover {
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px darkgray solid;
}

.item-card p {
    margin: 5px;
    padding: 0;
}

.item-name {
    color: rgb(200, 200, 200);
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 0px;
}

.item-description {
    color: darkgray;
    font-size: 12px;
    width: 150px;
}

.item-price {
    color: white;
    font-size: 15px;
}

.item-category {
    color: rgb(80, 80, 80);
    font-size: 10px;
    
}


.item-actions {
    display: none;
    color: white;
    position: absolute;
    bottom: 10px;
    width: 120px;
    justify-content: space-evenly;
    align-items: center;
    justify-items: center;
    align-content: center;
}

.item-card:hover .item-actions {
    display: flex;
    flex-direction: row;
}

.cart-add, .cart-remove {
    border: 1px solid rgb(4, 58, 25);
    background-color: rgb(2, 96, 42);
    border-radius: 10px;
    padding: 4px 8px 6px 8px;
    transition: 0.25s all;
}

.cart-add:hover, .cart-remove:hover {
    cursor: pointer;
    background-color: rgba(2, 96, 42, 0.6);
    color: rgb(200, 200, 200);
}