.items {
    display: flex;
    flex-direction: column;
}

.row-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.item-amount {
    color: white;
    font-size: 18px;
}

.inactive {
    color: rgb(40, 40, 40);
}

.next-page:hover {
    color: rgba(200, 200, 200, 0.5);
}

.prev-page:hover {
    color: rgba(200, 200, 200, 0.5);
}

.next-page {
    font-size: 25px;
}

.prev-page {
    font-size: 25px;
}

.loading-card {
    display: flex;
    border: 1px white solid;
    flex: 2 0 width;
    height: 250px;
    width: 350px;
    justify-content: center;
    align-items: center;
    margin: 20px;
    background-color: transparent;
    padding: 0;
    color: white;
}

.error {
    color: red;
}