.menu-dark {
    min-width: 100px;
    position: relative;
}

.menu-dark * {
    transition: 0.2s all;
}
.drop-down {
    background-color: rgb(15, 15, 15);
    color: lightgray;
    padding: 10px;
    font-size: 15px;
}

.drop-down:hover {
    background-color: rgb(40, 40, 40);
    color: darkgray;
    cursor: pointer;
}

.menu-item-dark {
    background-color: rgb(30, 30, 30);
    min-width: 100px;
    color: lightgray;
    max-height: 40px;
    padding: 9px 0;
    z-index: 20;
}

.menu-item-dark:hover {
    background-color: rgb(10, 10, 10);
    cursor: pointer;
}

.select-items {
    position: absolute;
    right: 100px;
    top: 0;
    flex-direction: row-reverse;
}
